<%- include('../partials/header') %>
    <main class="main" id="main">
        <p>Know any movies, genres, actor/actress, directors and companies that are amazing? Click and add below!</p>
        <ul>
            <li><a href="/movie-form">Movie</a></li>
            <li><a href="/genre-form">Genre</a></li>
            <li><a href="/actor-form">Actor</a></li>
            <li><a href="/director-form">Director</a></li>
            <li><a href="/company-form">Company</a></li>
        </ul>
    </main>
</body>    
<%- include('../partials/footer') %>   