<%- include('../partials/header') %>

<main class="main" id="main">
    <div class="container">
        <h2><%= title %> Data Successfully Entered!</h2>
        <a href="/" class="text-end">Back to Homepage</a>
    </div>
</main>

<%- include('../partials/footer') %>